[access]
static_public = 1
public = 0
[modules]
[[scheduler]]
module = scheduler.py
public = False
schedule = "*/2 * * *"
description = ""
[[init]]
module = init.py
public = False
schedule = ""
description = ""
[[sibling_A]]
module = sibling_A.py
public = False
schedule = ""
description = ""
[[call_sibling]]
module = call_sibling.py
public = False
schedule = ""
description = ""
[settings]
[[A]]
public = True
value = B
