[access]
static_public = True
public = False
[modules]
[[scheduler]]
module = scheduler.py
public = False
schedule = 0 */5 * * *
description = ""
[[init]]
module = init.py
public = False
schedule = None
description = ""
[[sibling_A]]
module = sibling_A.py
public = False
schedule = None
description = ""
[[call_sibling]]
module = call_sibling.py
public = False
schedule = None
description = ""
[settings]
[[A]]
public = True
value = B
